<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.zephyrsoft.sdbviewer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".SDBViewerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SongListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SongDetailActivity"
            android:label="@string/title_song_detail"
            android:parentActivityName=".SongListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.zephyrsoft.sdbviewer.SongListActivity"/>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".SongListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.zephyrsoft.sdbviewer.SongListActivity"/>
        </activity>
        <activity android:name=".AboutActivity"
                  android:label="@string/about"
                  android:parentActivityName=".SongListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.zephyrsoft.sdbviewer.SongListActivity"/>
        </activity>
    </application>

</manifest>